body{
  font-family: "Helvetica Neue";
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  width: 100%;
}

h1{
  font-weight: bold;
  padding: 14px 16px;
  text-align: center;
  font-size: 24pt;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
